{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Xem Điểm Sinh Viên</title>
    <!-- Liên kết CSS và JavaScript nếu cần -->
    <link href="{% static 'app/css/hun.css' %}" rel="stylesheet"/>
    <link href="{% static 'app/css/c.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <header style="display: flex; justify-content: center; padding: 5px;"><img class ="anh_logo"  src=" {% static 'app/image/anh1.jpg' %}" alt="" />
        </header>
    
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'trang_sinh_vien' sinhvien.mssv %}">Trang chủ</a></li>
                    <li><a href="#">Chương trình đào tạo</a></li>
                    <li><a href="#">Tra cứu văn bằng</a></li>
                    <li><a href="#">Tra cứu học phần</a></li>
                    
                </ul>
                <ul class="dangnhap" id ="main-menu">
                    <li ><a>{{ sinhvien.hovaten_sv }}</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'thongtin_SV' sinhvien.mssv %}">Thông tin sinh viên</a></li>
                            <li><a href="{% url 'xem_lich_hoc_sv' sinhvien.mssv %}">Lịch Học</a></li>
                            <li><a href="{% url 'xem_diem_sinh_vien' sinhvien.mssv %}">Kết quả học tập</a></li>
                            <li><a href="{% url 'home' %}">Đăng Xuất</a></li>
                        </ul>
                    </li>
                </ul> 
                
        </nav>

    <table>
        <tr>
            <th>STT</th>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Điểm giữa kỳ</th>
            <th>Điểm cuối kỳ</th>
            <th>Điểm tổng kết</th>
        </tr>
        {% for diem in diem_mon_hoc %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ diem.monhoc.ma_mon }}</td>
            <td>{{ diem.monhoc.ten_mon }}</td>
            <td>{{ diem.diem_giua_ky }}</td>
            <td>{{ diem.diem_cuoi_ky }}</td>
            <td>{{ diem.diem_tong_ket }}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="clear: both">
    </div>


    <footer class="footer menu-custom2">
                    
    <div >
        <div class="row">
            <h5><center>Copyright 2024<center></h5>    
                        
         </div>
    </div>
    </footer>
</div>
</body>
</html>